<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Prova2</title>
    <script src="https://unpkg.com/htmx.org@1.9.11"></script>
</head>
<body>
    <h1>Logs:</h1>
    <ul class="guarda-log" hx-get="http://127.0.0.1:7000/dash" hx-trigger="load, every 5s">

    </ul>

    <br>
    <br>

    <button hx-get="http://127.0.0.1:7000/ping">Ping</button>

    <br>
    <br>

    <form action="/echo" method="post"><br>
        <label>dados: </label><input type="text" id="xValue" name="texto" value="0"><br>
        <input type="submit" value="enviar">
    </form>
</body>
</html>